:root {
    --font-1: 'Inter', sans-serif;
    --font-2: 'Amatic SC', cursive;
}
body{
    padding: 0;
    margin: 0;
    font-family: var(--font-1);
    padding-top: 90px;
}
@media (max-width: 500px){
    body{
        padding-top: 70px;
    }
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
}
@media only screen and (max-width: 500px){
    .container{
        width: 95%;
    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    z-index: 997;
}
@media (max-width: 500px){
    header{
        height: 70px;
    }
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 0.5s;
    height: 90px;
    overflow: hidden;
}
@media (max-width: 500px){
    nav{
        height: 70px;
    }
}
nav .nav-logo p{
    font-size: 28px;
    font-weight: 700;
    color: #000;
}
nav .nav-logo p span{
    color: #ce1212 !important;
}
nav .nav ul{
    display: flex;
}
@media (max-width: 500px){
    nav .nav{
        display: none;
    }
}
nav .nav ul li{
    list-style: none;
}
nav .nav ul li.active a, nav .nav ul li:hover a{
    color: #000;

}
nav .nav ul li.active a:before, nav .nav ul li:hover a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #ce1212;
    transition: all 0.3s ease-in-out 0s;
}
nav .nav ul li a{
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 600;
    color: #7f7f90;
    white-space: nowrap;
    transition: 0.3s;
}
nav .book a{
    background: rgba(206, 18, 18, 1);
    font-size: 14px;
    color: #fff;
    padding: 10px 20px;
    display: block;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}
@media (max-width: 500px){
    nav .book a{
        margin-left: 70px;
    }
}
nav .book a:hover{
    background: rgba(206, 18, 18, 0.8);
}
.hamburger-menu{
    display: none;
}
@media (max-width: 500px){
    .hamburger-menu{
        display: block;
        font-size: 27px;
    }
}
/* main */
main .hero{
    background-color: #eee;
}
main .hero .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 70px 0;
}
main .hero .container .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 60vh;
    width: 50%;
}
main .hero .container .desc h1{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: var(--font-2);
    width: 70%;
}

main .hero .container .desc p{
    width: 70%;
    color: #4f4f5a;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.5;
}
main .hero .container .desc div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
main .hero .container .desc div.button{
    gap: 30px;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
}
main .hero .container .desc div a.btn-red{
    background-color: #ce1212;
    font-size: 14px;
    color: #fff;
    padding: 8px 20px;
    display: block;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}
main .hero .img{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
main .hero .img img{
    width: 80%;
    height: auto;
}
/* about */
main .about{

}
main .about .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 100px 0;
}
main .about .container .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .about .container .title h2{
    color: #7f7f90;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}
main .about .container .title p{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
main .about .container .title p span{
    color: #ce1212;
}
main .about .container .desc{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
main .about .container .desc .img, main .about .container .desc .text{
    width: 50%;
}
main .about .container .desc .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .about .container .desc .text img{
    width: 100%;
}