:root {
    --font-1: 'Inter', sans-serif;
    --font-2: 'Amatic SC', cursive;
}
body{
    padding: 0;
    margin: 0;
    font-family: var(--font-1);
    padding-top: 90px;
}
@media (max-width: 500px){
    body{
        padding-top: 70px;
    }
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
}
@media only screen and (max-width: 500px){
    .container{
        width: 95%;
    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    z-index: 997;
}
@media (max-width: 500px){
    header{
        height: 70px;
    }
}
.top-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 0.5s;
    height: 90px;
    overflow: hidden;
}
@media (max-width: 500px){
    .top-menu{
        height: 70px;
    }
}
.top-menu .nav-logo p{
    font-size: 28px;
    font-weight: 700;
    color: #000;
}
.top-menu .nav-logo p span{
    color: #ce1212 !important;
}
.top-menu nav{
    display: flex;
}
.top-menu .close{
    height: 70px;
    display: none;
    align-items: center;
    position: absolute;
    top: 0;
    right: 14px;
    z-index: 9;
    font-size: 22px;
}
.top-menu .close i{
    color: #000;
}
@media (max-width: 500px){
    .top-menu nav{
        transform: translateX(100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 60px;
        background-color: rgba(255, 255, 255, 0.95);
        flex-direction: column;
        transition: 0.3s;
    }
    .top-menu.show-menu nav#menu{
        transform: translateX(0);
    }
    .top-menu.show-menu .close{
        display: flex;
    }
}
.top-menu nav a.active, .top-menu nav a:hover{
    color: #000;

}
.top-menu nav a.active:before,.top-menu nav a:hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #ce1212;
    transition: all 0.3s ease-in-out 0s;
}
.top-menu nav a{
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    font-size: 16px;
    font-weight: 600;
    color: #7f7f90;
    white-space: nowrap;
    transition: 0.3s;
}
@media (max-width: 500px){
    .top-menu nav a{
        padding: 8px 20px;
        margin: 8px 0;
    }
}
.top-menu .book a{
    background: rgba(206, 18, 18, 1);
    font-size: 14px;
    color: #fff;
    padding: 10px 20px;
    display: block;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}
@media (max-width: 500px){
    .top-menu .book a{
        margin-left: 70px;
    }
}
.top-menu .book a:hover{
    background: rgba(206, 18, 18, 0.8);
}
.hamburger-menu{
    display: none;
}
@media (max-width: 500px){
    .hamburger-menu{
        display: block;
        font-size: 27px;
    }
}
/* hero */
main{
}
main .hero{
    background-color: #eee;
}
main .hero .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 70px 0;
}
@media (max-width: 500px){
    main .hero .container{
        flex-direction: column-reverse;
        padding: 50px 0;
    }
}
main .hero .container .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 50%;
}
@media (max-width: 500px){
    main .hero .container .desc{
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
main .hero .container .desc h1{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: var(--font-2);
    width: 70%;
}
@media (max-width: 500px){
    main .hero .container .desc h1{
        font-size: 36px;
    }
}
main .hero .container .desc p{
    width: 70%;
    color: #4f4f5a;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.5;
}
@media (max-width: 500px){
    main .hero .container .desc p{
        width: 95%;
    }
}
main .hero .container .desc div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
main .hero .container .desc div.button{
    gap: 30px;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
}
main .hero .container .desc div a.btn-red{
    background-color: #ce1212;
    font-size: 14px;
    color: #fff;
    padding: 14px 36px;
    letter-spacing: 1px;
    font-weight: 500;
    display: block;
    border-radius: 50px;
    transition: 0.5s;
    text-decoration: none;
    box-shadow: 0 8px 28px rgb(206 18 18 / 20%);
}
main .hero .container .desc div a.btn-video{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
}
main .hero .container .desc div a.btn-video:hover{
    color: #ce1212;
}
main .hero .container .desc div a.btn-video i{
    color: #ce1212;
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
}
main .hero .img{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
@media (max-width: 500px){
    main .hero .img{
        justify-content: center;
        width: 100%;
    }
}
main .hero .img img{
    width: 80%;
    height: auto;
    margin-bottom: 40px;
}
@media (max-width: 500px){
    main .hero .img img{
        width: 95%;
    }
}
/* about */
main .about{

}
main .about .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 100px 0;
}
main .about .container .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .about .container .title h2{
    color: #7f7f90;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}
main .about .container .title p{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
main .about .container .title p span{
    color: #ce1212;
}
main .about .container .desc{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
main .about .container .desc .img, main .about .container .desc .text{
    width: 50%;
}
main .about .container .desc .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .about .container .desc .text img{
    width: 100%;
}