body{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    max-width: 900px;
}
header{
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    z-index: 997;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: all 0.5s;
    height: 90px;
}
nav .nav-logo,nav .book,nav .nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
}
nav .nav-logo p{
    font-size: 28px;
    font-weight: 700;
    color: #000;
}
nav .nav-logo p span{
    color: #ce1212 !important;
}
nav .nav ul{
    display: flex;
}
@media (max-width: 500px){
    nav .nav ul{
        display: none;
    }
}
nav .nav ul li{
    list-style: none;
}
nav .nav ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 600;
    color: #7f7f90;
    white-space: nowrap;
    transition: 0.3s;
}
nav .book a{
    background-color: #ce1212;
    font-size: 14px;
    color: #fff;
    padding: 8px 20px;
    margin-left: 30px;
    display: block;
    margin-top: -12px;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}
/* main */
main{
    padding-top: 90px;
}
main .hero{
    background-color: #eee;
}
main .hero .container{
    justify-content: space-between;
    flex-direction: row;
    padding: 100px 0;
}
main .hero .container .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 60vh;
    width: 50%;
}
main .hero .container .desc h1{
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

main .hero .container .desc p{
    
}
main .hero .container .desc div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
main .hero .container .desc div.button{
    gap: 30px;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
}
main .hero .container .desc div a.btn-red{
    background-color: #ce1212;
    font-size: 14px;
    color: #fff;
    padding: 8px 20px;
    display: block;
    border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}
main .hero .img{
    display: flex;
    width: 50%;
    justify-content: center;
}
main .hero .img img{
    height: 376px;
}
/* about */
main .about{

}
main .about .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 100px 0;
}
main .about .container .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .about .container .title h2{
    color: #7f7f90;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}
main .about .container .title p{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
main .about .container .title p span{
    color: #ce1212;
}
main .about .container .desc{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
main .about .container .desc .img, main .about .container .desc .text{
    width: 50%;
}
main .about .container .desc .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .about .container .desc .text img{
    width: 100%;
}